name: Test and Release and Publish

on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'
      - LICENSE
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  pages: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  test-and-release:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: pnpm/action-setup@v4
      with:
        version: latest
    - uses: actions/setup-node@v5
      with:
        node-version: 'lts/*'
        registry-url: 'https://registry.npmjs.org'
        cache: 'pnpm'
    - uses: actions/configure-pages@v5
      if: ${{ github.ref_name == 'master' }}
    - run: pnpm i --frozen-lockfile --no-verify-store-integrity
    - run: npm run build
    - run: npm run cover
    - uses: codecov/codecov-action@v4
      if: ${{ github.ref_name == 'master' }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - uses: actions/upload-pages-artifact@v3
      with:
        path: 'docs'
    - uses: actions/deploy-pages@v4
      id: deployment
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: prantlf/publish-release-action@v1
      with:
        no-npm-auth: true
        no-archives: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
